* {
    box-sizing: border-box;
}

body {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: #1f2937;
}

.top-hero {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

a, .secondary-text {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.bottom-hero {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.image {
    width: 400px;
    height: 150px;
    background: gray;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}

.button {
    background: #3882f6;
    color: #f9faf8;
    border: 1px solid #3882f6;
    padding: 6px 12px;
    border-radius: 8px;
}

.section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-one-content {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.section-one-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 20px auto;
}

.section-one-image {
    width: 130px;
    height: 130px;
    border: 2px solid #3882f6;
    border-radius: 8px;
    flex-shrink: 0;
}

.image-one, .image-two, .image-three, .image-four {
    width: 130px;
}

.section-one-text {
    text-align: center;
}

.section-two {
    margin-top: 50px;
    background: #e5e7eb;
}

.section-two-content {
    margin: 50px 200px;
}

.section-two-quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.section-two-author {
    text-align: right;
    font-size: 20px;
    font-weight: 700;
}

.section-three {
    display: flex;
    justify-content: center;
    margin: 50px auto;
}

.section-three-content {
    background: #3882f6;
    color: #f9faf8;
    display: flex;
    align-items: flex-end;
    gap: 50px;
    padding: 20px 40px;
    flex: 1;
    border-radius: 5px;
    margin: auto 50px;
}

.section-three-textone {
    font-size: 20px;
    font-weight: 600;
}

.section-three-button > button {
    background: #3882f6;
    color: #f9faf8;
    border: 1px solid #f9faf8;
    padding: 6px 12px;
    border-radius: 8px;
}

.footer {
    background: #1f2937;
    color: #e5e7eb;
}

.footer-text {
    text-align: center;
    margin: 20px;
}